In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##Part 1

Q1: Read each of the files and print the five first lines.

In [4]:
central_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Foundations_of_ML/af_central.csv')
south_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Foundations_of_ML/af_austral.csv')
north_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Foundations_of_ML/af_north.csv')
west_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Foundations_of_ML/af_west.csv')
east_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Foundations_of_ML/af_east.csv')

In [5]:
central_data.head()

                      Names     Area   Population  \tDensity     \tCapital
0                    Angola  1246700     29784000       23.9      \tLuanda
1                  Cameroon   475650     24054000       50.9     \tYaounde
2                     Gabon   267668      2025000        7.9  \tLibreville
3         Equatorial Guinea    28052      1268000       45.2      \tMalabo
4  Central African Republic   622984      4659000        7.5      \tbangui

In [6]:
south_data.head()

          Names   \tArea   Population   Density     Capital
0  South Africa  1219912     55653654      46.0  \tPretoria
1      Botswana   581726      2209208       3.8  \tGaborone
2       Comoros     2612       813912     343.0    \tmoroni
3      Eswatini    17363      1451428      82.7   \tLobamba
4       Lesotho    30355      1924381      63.0    \tMaseru

In [7]:
north_data.head()

     Names   \tArea   Population   Density    Capital
0  Algeria  2381741     40606052     17.05    \tAlger
1    Egypt  1001450     95688681     96.00    \tCairo
2    Libya  1759540      6293253      3.58  \tTripoli
3  Morocco   710850     35276786     73.10    \tRabat
4  Tunisia   163610     11403248     63.00  \tTunisia

In [8]:
west_data.head()

           Name  \tArea   Population   Density         Capital
0         Benin  114763      9352000        81    \tPorto Novo
1  Burkina Faso  272967     17482000        64   \tOuagadougou
2    Cape Verde    4033       505000       125         \tPraia
3   Ivory Coast  322463     20595000        64  \tYamoussoukro
4        Gambia   11295      1825000       162        \tBanjul

In [9]:
east_data.head()

      Names   \tArea  \tPopulation   Density        \tCapital
0   Eritrea   121320       5869970      50.0         \tAsmara
1  Ethiopia  1127127     105350020      88.0    \tAddis Ababa
2   Somalia   637657      11259290      18.0      \tMogadishu
3  Djibouti    25030        810179      21.0  \tDjibouti City
4     Sudan  1886068      43120843      23.0       \tKhartoum

In [10]:
west_data.head()

           Name  \tArea   Population   Density         Capital
0         Benin  114763      9352000        81    \tPorto Novo
1  Burkina Faso  272967     17482000        64   \tOuagadougou
2    Cape Verde    4033       505000       125         \tPraia
3   Ivory Coast  322463     20595000        64  \tYamoussoukro
4        Gambia   11295      1825000       162        \tBanjul

Q2: Merge all the files and add a new column that defines the region where the country belongs to.

In [11]:
# We adding a new column called region to each datasets
central_data['region'] ='central'
north_data['region'] = 'north'
south_data['region'] = 'south'
east_data['region'] = 'east'
west_data['region'] = 'west'

In [12]:
# We rename the columns to have the same column names to easy merging
central_data.rename(columns = { central_data.columns[0]:'Name', central_data.columns[1]:'Area', central_data.columns[2]:'Population', central_data.columns[3]:'Density', central_data.columns[4]:'Capital'}, inplace = True)
north_data.rename(columns = {north_data.columns[0]:'Name',north_data.columns[1]:'Area',north_data.columns[2]:'Population',north_data.columns[3]:'Density', north_data.columns[4]:'Capital'},inplace=True)
south_data.rename(columns = {south_data.columns[0]:'Name',south_data.columns[1]:'Area',south_data.columns[2]:'Population',south_data.columns[3]:'Density',south_data.columns[4]:'Capital'},inplace= True)
east_data.rename(columns={east_data.columns[0]:'Name',east_data.columns[1]:'Area',east_data.columns[2]:'Population',east_data.columns[3]:'Density',east_data.columns[4]:'Capital'},inplace =True)
west_data.rename(columns={west_data.columns[0]:'Name',west_data.columns[1]:'Area',west_data.columns[2]:'Population',west_data.columns[3]:'Density',west_data.columns[4]:'Capital'},inplace = True)

In [13]:
Merge_data= pd.concat([central_data, south_data, north_data, west_data, east_data],ignore_index= True)
Merge_data

                                Name     Area  ...          Capital   region
0                             Angola  1246700  ...         \tLuanda  central
1                           Cameroon   475650  ...        \tYaounde  central
2                              Gabon   267668  ...     \tLibreville  central
3                  Equatorial Guinea    28052  ...         \tMalabo  central
4           Central African Republic   622984  ...         \tbangui  central
5   Democratic Republic of the Congo  2344858  ...       \tKinshasa  central
6              Republic of the Congo   342000  ...    \tBrazzaville  central
7              Sao Tome and Principe      964  ...       \tSao Tome  central
8                               Chad  1284000  ...      \tN'Djamena  central
9                       South Africa  1219912  ...       \tPretoria    south
10                          Botswana   581726  ...       \tGaborone    south
11                           Comoros     2612  ...         \tmoroni    south
12                          Eswatini    17363  ...        \tLobamba    south
13                           Lesotho    30355  ...         \tMaseru    south
14                        Madagascar   587041  ...   \tAntananarivo    south
15                            Malawi   118844  ...       \tLilongwe    south
16                         Mauritius     2040  ...     \tPort Louis    south
17                        Mozambique   801590  ...         \tMaputo    south
18                           Namibia   825418  ...       \tWindhoek    south
19                          Zimbabwe   390245  ...         \tHarare    south
20                            Zambia   752614  ...         \tLusaka    south
21                           Algeria  2381741  ...          \tAlger    north
22                             Egypt  1001450  ...          \tCairo    north
23                             Libya  1759540  ...        \tTripoli    north
24                           Morocco   710850  ...          \tRabat    north
25                           Tunisia   163610  ...        \tTunisia    north
26                             Benin   114763  ...     \tPorto Novo     west
27                      Burkina Faso   272967  ...    \tOuagadougou     west
28                        Cape Verde     4033  ...          \tPraia     west
29                       Ivory Coast   322463  ...   \tYamoussoukro     west
30                            Gambia    11295  ...         \tBanjul     west
31                             Ghana   238533  ...          \tAccra     west
32                            Guinea   245857  ...        \tConakry     west
33                     Guinea-Bissau    36125  ...         \tBissau     west
34                           Liberia   111369  ...       \tmonrovia     west
35                              Mali  1241238  ...         \tBamako     west
36                        Mauritania  1025520  ...     \tNouakchott     west
37                             Niger  1267000  ...         \tNiamey     west
38                           Nigeria   923768  ...          \tAbuja     west
39                           Senegal   196722  ...          \tDakar     west
40                      Sierra Leone    71740  ...       \tFreetown     west
41                              Togo    56785  ...           \tLome     west
42                           Eritrea   121320  ...         \tAsmara     east
43                          Ethiopia  1127127  ...    \tAddis Ababa     east
44                           Somalia   637657  ...      \tMogadishu     east
45                          Djibouti    25030  ...  \tDjibouti City     east
46                             Sudan  1886068  ...       \tKhartoum     east
47                       South Sudan   619745  ...           \tJuba     east
48                             Kenya   580367  ...        \tNairobi     east
49                            Uganda   241550  ...        \tKampala     east
50                          Tanzania   945087  ...         \tDodoma     east
51                            Rwanda    26338  ...         \tKigali     east
52                           Burundi    27834  ...         \tGitega     east
53                        Seychelles      455  ...       \tVictoria     east

[54 rows x 6 columns]

Q3: Calculate and present in the same Dataframe: The mean of the population (μ) of each region, the standard deviation (σ) and the calculation of the coefficient of variation Cv and conclude:

In [14]:
m= Merge_data.groupby(['region']).Population.mean()
s_d =Merge_data.groupby(['region']).Population.std()
c_variation = s_d / m
m,s_d ,c_variation
mama = pd.DataFrame({'Population_Mean':m,'Population_stand_Dev':s_d,'Coefficient_variation': c_variation})
mama.reset_index(inplace=True) # to reset the index (region) to column
mama

    region  Population_Mean  Population_stand_Dev  Coefficient_variation
0  central     1.816611e+07          2.595417e+07               1.428714
1     east     2.857651e+07          3.089895e+07               1.081271
2    north     3.785360e+07          3.554852e+07               0.939105
3    south     1.360964e+07          1.627204e+07               1.195626
4     west     2.002144e+07          3.979997e+07               1.987868

##2. Part 2.

Q1: Obtain the minimum area of each region and complete with the corresponding country
name on the same line in the Series or Dataframe obtained.

In [15]:
minimum = pd.DataFrame(Merge_data.groupby('region').Area.min())
index_min = Merge_data.groupby('region').Area.idxmin()
Merge_data.loc[index_min,'Name']
minimum['Name'] = Merge_data.loc[index_min,'Name'].values
minimum.rename(columns={ minimum.columns[0]:'Min_area'},inplace=True )
minimum.reset_index(inplace=True)
minimum

    region  Min_area                   Name
0  central       964  Sao Tome and Principe
1     east       455             Seychelles
2    north    163610                Tunisia
3    south      2040              Mauritius
4     west      4033             Cape Verde

Q2: Obtain the minimum area of each region and complete with the corresponding country name on the same line in the Series or Dataframe obtained.

In [34]:
maxm = pd.DataFrame(Merge_data.groupby('region').Area.max())
index_maxm = Merge_data.groupby('region').Area.idxmax()
Merge_data.loc[index_maxm,'Name']
maxm['Name'] = Merge_data.loc[index_maxm,'Name'].values
maxm.rename(columns={ maxm.columns[0]:'Max_area'},inplace=True )
maxm.reset_index(inplace=True)
maxm

    region  Max_area                              Name
0  central   2344858  Democratic Republic of the Congo
1     east   1886068                             Sudan
2    north   2381741                           Algeria
3    south   1219912                      South Africa
4     west   1267000                             Niger

Q3: Get the minimum population of each region and complete with the corresponding country name on the same line in the Series or Dataframe obtained.

In [16]:
mini = pd.DataFrame(Merge_data.groupby('region').Population.min())
index_minPop = Merge_data.groupby('region').Population.idxmin()
Merge_data.loc[index_minPop ,'Name']
mini['Name'] = Merge_data.loc[index_minPop ,'Name'].values
mini
mini.rename(columns={ mini.columns[0]:'Min_population'},inplace=True )
mini.reset_index(inplace=True)
mini

    region  Min_population                   Name
0  central          204000  Sao Tome and Principe
1     east           92430             Seychelles
2    north         6293253                  Libya
3    south          813912                Comoros
4     west          505000             Cape Verde

Q4: Get the maximum population of each region and complete with the corresponding country name on the same line in the Series or Dataframe obtained.

In [17]:
maximum = pd.DataFrame(Merge_data.groupby('region').Population.max())
index_maxPop = Merge_data.groupby('region').Population.idxmax()
Merge_data.loc[index_maxPop ,'Name']
maximum['Name'] = Merge_data.loc[index_maxPop ,'Name'].values

maximum.rename(columns={ maximum.columns[0]:'Max_population'},inplace=True )
maximum.reset_index(inplace=True)
maximum

    region  Max_population                              Name
0  central        81340000  Democratic Republic of the Congo
1     east       105350020                          Ethiopia
2    north        95688681                             Egypt
3    south        55653654                      South Africa
4     west       166629000                           Nigeria

Q5: Obtain the average population of each region and complete with the name of country having the population closest to the average of the corresponding group, on the same line in the Serie or Dataframe obtained.

In [18]:
average = pd.DataFrame( Merge_data.groupby('region').Population.mean())
average

           Population
region
central  1.816611e+07
east     2.857651e+07
north    3.785360e+07
south    1.360964e+07
west     2.002144e+07

In [19]:
def remean_pop(row):
    row = abs(row.Population - average.loc[row.region])
    return row
Merge_data.apply(remean_pop,axis='columns') #

      Population
0   1.161789e+07
1   5.887889e+06
2   1.614111e+07
3   1.689811e+07
4   1.350711e+07
5   6.317389e+07
6   1.290511e+07
7   1.796211e+07
8   3.266111e+06
9   4.204401e+07
10  1.140044e+07
11  1.279573e+07
12  1.215822e+07
13  1.168526e+07
14  1.082068e+07
15  4.481930e+06
16  1.234981e+07
17  1.229036e+07
18  1.112486e+07
19  4.207234e+05
20  1.456621e+06
21  2.752448e+06
22  5.783508e+07
23  3.156035e+07
24  2.576818e+06
25  2.645036e+07
26  1.066944e+07
27  2.539438e+06
28  1.951644e+07
29  5.735625e+05
30  1.819644e+07
31  5.524562e+06
32  9.540438e+06
33  1.844144e+07
34  1.577644e+07
35  3.702438e+06
36  1.639844e+07
37  3.377438e+06
38  1.466076e+08
39  6.913438e+06
40  1.389544e+07
41  1.373844e+07
42  2.270654e+07
43  7.677351e+07
44  1.731722e+07
45  2.776633e+07
46  1.454433e+07
47  1.604579e+07
48  1.322349e+07
49  1.291145e+07
50  2.873351e+07
51  1.638911e+07
52  1.747721e+07
53  2.848408e+07

In [20]:
s = Merge_data.apply(remean_pop,axis='columns')
t= Merge_data.loc[:, ['Name','region']]
t['Population'] = s
t

                                Name   region    Population
0                             Angola  central  1.161789e+07
1                           Cameroon  central  5.887889e+06
2                              Gabon  central  1.614111e+07
3                  Equatorial Guinea  central  1.689811e+07
4           Central African Republic  central  1.350711e+07
5   Democratic Republic of the Congo  central  6.317389e+07
6              Republic of the Congo  central  1.290511e+07
7              Sao Tome and Principe  central  1.796211e+07
8                               Chad  central  3.266111e+06
9                       South Africa    south  4.204401e+07
10                          Botswana    south  1.140044e+07
11                           Comoros    south  1.279573e+07
12                          Eswatini    south  1.215822e+07
13                           Lesotho    south  1.168526e+07
14                        Madagascar    south  1.082068e+07
15                            Malawi    south  4.481930e+06
16                         Mauritius    south  1.234981e+07
17                        Mozambique    south  1.229036e+07
18                           Namibia    south  1.112486e+07
19                          Zimbabwe    south  4.207234e+05
20                            Zambia    south  1.456621e+06
21                           Algeria    north  2.752448e+06
22                             Egypt    north  5.783508e+07
23                             Libya    north  3.156035e+07
24                           Morocco    north  2.576818e+06
25                           Tunisia    north  2.645036e+07
26                             Benin     west  1.066944e+07
27                      Burkina Faso     west  2.539438e+06
28                        Cape Verde     west  1.951644e+07
29                       Ivory Coast     west  5.735625e+05
30                            Gambia     west  1.819644e+07
31                             Ghana     west  5.524562e+06
32                            Guinea     west  9.540438e+06
33                     Guinea-Bissau     west  1.844144e+07
34                           Liberia     west  1.577644e+07
35                              Mali     west  3.702438e+06
36                        Mauritania     west  1.639844e+07
37                             Niger     west  3.377438e+06
38                           Nigeria     west  1.466076e+08
39                           Senegal     west  6.913438e+06
40                      Sierra Leone     west  1.389544e+07
41                              Togo     west  1.373844e+07
42                           Eritrea     east  2.270654e+07
43                          Ethiopia     east  7.677351e+07
44                           Somalia     east  1.731722e+07
45                          Djibouti     east  2.776633e+07
46                             Sudan     east  1.454433e+07
47                       South Sudan     east  1.604579e+07
48                             Kenya     east  1.322349e+07
49                            Uganda     east  1.291145e+07
50                          Tanzania     east  2.873351e+07
51                            Rwanda     east  1.638911e+07
52                           Burundi     east  1.747721e+07
53                        Seychelles     east  2.848408e+07

In [21]:
average = pd.DataFrame( Merge_data.groupby('region').Population.mean())
index_avPop = t.groupby('region').Population.idxmin()
t.loc[index_avPop ,'Name']
average['Name'] = t.loc[index_avPop ,'Name'].values
average.rename(columns={ average.columns[0]:'average_population', average.columns[1]:'closest_country'},inplace=True)
average.reset_index(inplace=True)
average

    region  average_population closest_country
0  central        1.816611e+07            Chad
1     east        2.857651e+07          Uganda
2    north        3.785360e+07         Morocco
3    south        1.360964e+07        Zimbabwe
4     west        2.002144e+07     Ivory Coast

Q6: Obtain the average population of each region and complete with the name of the country having the population furthest from the average of the corresponding group, on the same line in the Series or Dataframe obtained.

In [22]:
average = pd.DataFrame( Merge_data.groupby('region').Population.mean())
index_aPop = t.groupby('region').Population.idxmax()
t.loc[index_aPop ,'Name']
average['Name'] = t.loc[index_aPop ,'Name'].values
average.rename(columns={ average.columns[0]:'average_population',average.columns[1]: 'furthest_country'},inplace=True )
average.reset_index(inplace=True)
average

    region  average_population                  furthest_country
0  central        1.816611e+07  Democratic Republic of the Congo
1     east        2.857651e+07                          Ethiopia
2    north        3.785360e+07                             Egypt
3    south        1.360964e+07                      South Africa
4     west        2.002144e+07                           Nigeria

Q7: Obtain the average density of each region and complete with the country name having the density closest to the average of the corresponding group, on the same line in the Series or Dataframe obtained.

In [23]:
averageden = pd.DataFrame ( Merge_data.groupby('region').Density.mean())
averageden

            Density
region
central   45.700000
east     131.726667
north     50.546000
south    121.092500
west      75.062500

In [24]:
def remean_den(row):
    row = abs(row.Density - averageden.loc[row.region])
    return row
Merge_data.apply(remean_den,axis='columns') #

       Density
0    21.800000
1     5.200000
2    37.800000
3     0.500000
4    38.200000
5     9.800000
6    30.300000
7   167.100000
8    33.900000
9    75.092500
10  117.292500
11  221.907500
12   38.392500
13   58.092500
14   79.482500
15   30.907500
16  508.907500
17   89.092500
18  118.092500
19   85.092500
20  101.092500
21   33.496000
22   45.454000
23   46.966000
24   22.554000
25   12.454000
26    5.937500
27   11.062500
28   49.937500
29   11.062500
30   86.937500
31   31.937500
32   32.062500
33   31.062500
34   37.062500
35   62.062500
36   71.062500
37   62.062500
38  104.937500
39    8.062500
40    9.937500
41   35.937500
42   81.726667
43   43.726667
44  113.726667
45  110.726667
46  108.726667
47  111.526667
48   59.706667
49   40.273333
50   79.726667
51  330.973333
52  266.973333
53   71.373333

In [25]:
k= Merge_data.apply(remean_den,axis='columns')
w = Merge_data.loc[:, ['Name','region']]
w['Density'] = k
w

                                Name   region     Density
0                             Angola  central   21.800000
1                           Cameroon  central    5.200000
2                              Gabon  central   37.800000
3                  Equatorial Guinea  central    0.500000
4           Central African Republic  central   38.200000
5   Democratic Republic of the Congo  central    9.800000
6              Republic of the Congo  central   30.300000
7              Sao Tome and Principe  central  167.100000
8                               Chad  central   33.900000
9                       South Africa    south   75.092500
10                          Botswana    south  117.292500
11                           Comoros    south  221.907500
12                          Eswatini    south   38.392500
13                           Lesotho    south   58.092500
14                        Madagascar    south   79.482500
15                            Malawi    south   30.907500
16                         Mauritius    south  508.907500
17                        Mozambique    south   89.092500
18                           Namibia    south  118.092500
19                          Zimbabwe    south   85.092500
20                            Zambia    south  101.092500
21                           Algeria    north   33.496000
22                             Egypt    north   45.454000
23                             Libya    north   46.966000
24                           Morocco    north   22.554000
25                           Tunisia    north   12.454000
26                             Benin     west    5.937500
27                      Burkina Faso     west   11.062500
28                        Cape Verde     west   49.937500
29                       Ivory Coast     west   11.062500
30                            Gambia     west   86.937500
31                             Ghana     west   31.937500
32                            Guinea     west   32.062500
33                     Guinea-Bissau     west   31.062500
34                           Liberia     west   37.062500
35                              Mali     west   62.062500
36                        Mauritania     west   71.062500
37                             Niger     west   62.062500
38                           Nigeria     west  104.937500
39                           Senegal     west    8.062500
40                      Sierra Leone     west    9.937500
41                              Togo     west   35.937500
42                           Eritrea     east   81.726667
43                          Ethiopia     east   43.726667
44                           Somalia     east  113.726667
45                          Djibouti     east  110.726667
46                             Sudan     east  108.726667
47                       South Sudan     east  111.526667
48                             Kenya     east   59.706667
49                            Uganda     east   40.273333
50                          Tanzania     east   79.726667
51                            Rwanda     east  330.973333
52                           Burundi     east  266.973333
53                        Seychelles     east   71.373333

In [26]:
averageden = pd.DataFrame( Merge_data.groupby('region').Density.mean())
index_den = w.groupby('region').Density.idxmin()
w.loc[index_den,'Name']
averageden['Name'] = w.loc[index_den ,'Name'].values
averageden.rename(columns={ averageden.columns[0]:'average_density',averageden.columns[1]: 'closest_country'},inplace=True )
averageden.reset_index(inplace=True)
averageden

    region  average_density    closest_country
0  central        45.700000  Equatorial Guinea
1     east       131.726667             Uganda
2    north        50.546000            Tunisia
3    south       121.092500             Malawi
4     west        75.062500              Benin

Q8: Obtain the average density of each region and complete with the name of the country having the density furthest from the average of the corresponding group, on the same line in the Series or Dataframe obtained.

In [27]:
averageden = pd.DataFrame( Merge_data.groupby('region').Density.mean())
index_dens = w.groupby('region').Density.idxmax()
w.loc[index_dens,'Name']
averageden['Name'] = w.loc[index_dens ,'Name'].values
averageden.rename(columns={ averageden.columns[0]:'average_density',averageden.columns[1]: 'closest_country'},inplace=True )
averageden.reset_index(inplace=True)
averageden

    region  average_density        closest_country
0  central        45.700000  Sao Tome and Principe
1     east       131.726667                 Rwanda
2    north        50.546000                  Libya
3    south       121.092500              Mauritius
4     west        75.062500                Nigeria

Q9: Using the population and area fields, calculate the density with the apply and lambda functions.

In [44]:
e = pd.DataFrame(Merge_data.apply( lambda x: x.Population / x.Area , axis= 1))
e.rename( columns ={  e.columns[0]:'density'},inplace= True)
e

       density
0    23.890270
1    50.570798
2     7.565342
3    45.201768
4     7.478523
5    34.688668
6    15.383041
7   211.618257
8    11.604361
9    45.621040
10    3.797678
11  311.604900
12   83.593158
13   63.395849
14   41.616046
15  152.229604
16  617.567647
17   32.310782
18    3.010329
19   35.952717
20   20.018583
21   17.048895
22   95.550133
23    3.576647
24   49.626202
25   69.697745
26   81.489679
27   64.044372
28  125.216960
29   63.867793
30  161.575919
31  107.096293
32   42.630472
33   43.737024
34   38.116532
35   13.147358
36    3.532842
37   13.136543
38  180.379706
39   66.632100
40   85.391692
41  110.645417
42   48.384191
43   93.467746
44   17.657283
45   32.368318
46   22.862825
47   20.219150
48   72.023392
49  171.757255
50   60.639940
51  462.730655
52  398.767622
53  203.142857

Q10. Create a field that is a 10% increase in population using the apply and lambda functions.

In [38]:
h=pd.DataFrame(Merge_data.apply(lambda x: (10/100)*x.Population + x.Population , axis =1))
h.rename(columns={ h.columns[0]:'new_population'},inplace=True )
h

    new_population
0       32762400.0
1       26459400.0
2        2227500.0
3        1394800.0
4        5124900.0
5       89474000.0
6        5787100.0
7         224400.0
8       16390000.0
9       61219019.4
10       2430128.8
11        895303.2
12       1596570.8
13       2116819.1
14      26873357.5
15      19900732.5
16       1385821.8
17      28490000.0
18       2733258.0
19      15433404.8
20      16572892.6
21      44666657.2
22     105257549.1
23       6922578.3
24      38804464.6
25      12543572.8
26      10287200.0
27      19230200.0
28        555500.0
29      22654500.0
30       2007500.0
31      28100600.0
32      11529100.0
33       1738000.0
34       4669500.0
35      17950900.0
36       3985300.0
37      18308400.0
38     183291900.0
39      14418800.0
40       6738600.0
41       6911300.0
42       6456967.0
43     115885022.0
44      12385219.0
45        891196.9
46      47432927.3
47      13783788.7
48      45980000.0
49      45636761.5
50      63041020.9
51      13406140.0
52      12209227.8
53        101673.0